header {
    margin: 46px auto 51px auto;
}
nav ul{
    /* text-align: center; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1024px;
    margin: 0px auto;
    flex-wrap: wrap;
}
nav>ul>li {
    display: inline-block;
    position: relative;
}
nav>ul>li>a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 27px;
    display: inline-block;
    padding: 0px 27px 0px 27px;
    vertical-align: 50%;
}
.drop-about {
    position: absolute;
    background-color: #ffffff;
    padding: 6px 10px 6px 10px;
    left: 20px;
    top: 40px;
    border-radius: 2px;
    list-style-type: none;
    display: block;
    opacity: 0;
}
.drop-about::before {
    content: " ";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 4.5px 6px 4.5px;
    border-color: transparent transparent #ffffff transparent;
    position: absolute;
    top: -4px;
    left: 30px;
}
.drop-about a {
    text-decoration: none;
    color: #6b7488;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}
.about:hover .drop-about {
    opacity: 1;
}
nav img {
    vertical-align: middle;
}
nav a:hover {
    color: #263555;
}
nav a:active {
    color: #9AD8FF;
}

/*Headers and menu styles end*/
/*footer begin*/
.footer-grey {
    display: flex;
    justify-content: space-between;
    background-color: #30455b;
    box-sizing: border-box;
    width: 1024px;
    margin: 0px auto 0px auto;
    text-align: center;
    padding: 38px 207px 24px 140px;
}
.f-column1, .f-column2, .f-column3, .f-column4 {
    box-sizing: border-box;
    text-align: left;
    display: inline-block;
    vertical-align: top;
}
.footer-grey a {
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    line-height: 26px;
    display: block;
}
.footer-grey a:hover {
    color:#38afe5;
}
.footer-grey nav a:hover {
    color: #9AD8FF;
}
.f-heading {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
}
footer p, .phone{
    font-family: Arial, sans-serif;
    color: #ffffff;
    font-size: 12px;
    line-height: 23px;
}
.social {
    display: flex;
    justify-content: center;
    margin: 25px auto 25px auto;
}
.f-icon-1 {
    width: 40px;
    height: 40px;
    background-image: url("../img/sprite.png");
}
.f-icon-1:hover {
    background-position: 0px 40px;
}
.f-icon-2 {
    width: 40px;
    height: 40px;
    background-image: url("../img/sprite.png");
    background-position-x: 146px;
}
.f-icon-2:hover {
    background-position: 146px 40px;
}
.f-icon-3 {
    width: 40px;
    height: 40px;
    background-image: url("../img/sprite.png");
    background-position-x: 92px;
}
.f-icon-3:hover {
    background-position: 92px 40px;
}
.f-icon-4 {
    width: 40px;
    height: 40px;
    background-image: url("../img/sprite.png");
    background-position-x: 40px;
}
.f-icon-4:hover {
    background-position: 40px 40px;
}
.social a {
    margin: 0px 5px 0px 5px;
}
.copyrights {
    text-align: center;
    margin: 0px auto 50px auto;
}
.copyrights a {
    text-decoration: none;
    color: #ffffff;
}
.copyrights a:hover {
    color: #253455;
}
.to-top {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #38afe5;
    position: fixed;
    right: 110px;
    bottom: 26px;
    text-align: center;
}
.to-top:hover {
    background-color: #263555;
}
.top-arrow {
    width: 8px;
    height: 8px;
    border-left: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    transform: rotate(135deg);
    border-radius: 2px;
    margin: auto;
    position: relative;
    top: 12px;